/* Reset
-------------------------- */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
    :focus { outline: 0; }
    body { font-family: Helvetica, Arial, sans-serif; color: #424242; font-size: 80%; line-height: 1.5em; }
    html { overflow-y: scroll; }
    p { margin-bottom: 15px; }
    ol, ul { list-style: none; }
    table { border-collapse: separate; border-spacing: 0; }
    caption, th, td { font-weight: normal; text-align: left; }
    blockquote:before, blockquote:after, q:before, q:after { content: ""; }
    blockquote, q { quotes: "" ""; }
    blockquote { background: url(images/quote.png) no-repeat 0 0; font-style: italic; line-height: 1.2em; margin: 20px 0; padding: 20px 20px 20px 60px; }
    dl dt { font-weight: bold; margin-top: 15px; }
    dl dd { margin: 0; }
    blockquote { background: url(images/quote.png) no-repeat 0 0; font-size: 12px; font-style: italic; margin: 20px 0; padding: 20px 20px 20px 60px; }
    acronym { border-bottom: 1px dashed #333; cursor: help; }
    strong { font-weight: bold; }
    em { font-style: italic; }
    hr { display: none; }
    .right { float: right; }
    .left { float: left; }
    .hidden { display: none; }
    .clear { clear: both; }
    .clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }


/* Type
-------------------------- */

    .clearfix { display: block; }
    html[xmlns] .clearfix { display: block; }
    * html .clearfix { height: 1%; }
    h1, h2, h3, h4, h5, h6 { color: #424242; font-size: 80%; font-family: Helvetica, Arial, sans-serif; margin: 0px 0 5px 0; }
    h1 { font-size: 20px; line-height: 25px; margin-bottom: 10px; font-weight: normal; }
    h2 { font-size: 18px; line-height: 25px; }
    h3 { font-size: 16px; line-height: 24px; }
    h4 { font-size: 17px; line-height: 22px; }
    h5 { font-size: 15px; line-height: 20px; }
    h6 { font-size: 14px; line-height: 19px; }
    
    a { color: #3b5998; text-decoration: none; }
    a:hover { color: #d8dfea; }    
    
    body { background: #E8E8E8; }


/* Header
-------------------------- */

    #header { overflow: hidden; clear: both; }
    #header .title { font-size: 250%; padding: 30px 40px 30px 40px; color: #424242; float: left; font-weight: bold; }
    #header .login { float: right; margin: 15px 30px 0px 0px; }
    
/* Layout
--------------------------- */

    .wrapper { width: 960px; margin: 30px auto; background: #FFFFFF; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
    #page { padding: 30px 30px 30px 40px; }
    
    #footer { background: #FFFFFF; -moz-border-radius: 10px; -webkit-border-radius: 10px; margin: 30px auto; width: 960px; overflow: hidden; padding-top: 10px; }
    #footer .col { width: 24%; float: left; }
    #footer .col ul { padding: 30px; }
    #footer .title { font-weight: bold; }
    
    .sum { margin-bottom: 20px; }
    .sum li { padding: 10px 0px; border-bottom: 1px dotted #e8e8e8; }
    .sum li:last-child { border-bottom: 0px; }
    .sum li h2 { font-size: 14px;  background: url('images/asterisk_orange.png') no-repeat 0 center; padding-left: 20px; }
    .sum p { margin-bottom: 0px; }
    
    .sum.pop li h2 { background: url('images/star.png') no-repeat 0 center; padding-left: 20px; }
    
/* Sidebar
--------------------------- */

    #sidebar { float: right; width: 250px; }
    #sidebar .item { border: 1px solid #e8e8e8; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; }
    #sidebar h3 { font-size: 14px; font-weight: bold; color: #424242; }
    
    #sidebar ul.users { position: relative; }
    #sidebar ul.users .checkbox { float: left; margin-right: 6px; }
    #sidebar .avatar { border: 1px solid #e8e8e8; top: 5px; padding: 2px; position: absolute; right: 0px; }   
    

    #sidebar p { margin-top: 10px; }  

    #sidebar .navigation li { padding: 3px 0px 3px 15px; background: url('images/bullet_blue.png') no-repeat 0px 4px; }
    #sidebar .navigation li.current_page_item a { color: #424242; }
    #sidebar .navigation li.current_page_item li a { color: #45B4DA; }
    #sidebar .navigation li.current_page_ancestor { display: none; }
    #sidebar .navigation ul li { padding-left: 15px; }
    #sidebar .navigation ul li:last-child { padding-bottom: 0px; }
    
    #livesearch { display: block; position: relative; }  
    #sidebar .text { border: 1px solid #e8e8e8; display: block; font-size: 13px; margin: 0px; margin-top: 3px; padding: 5px 7px; width: 212px; color: #666666; }  
    #search-result { border-top: 1px solid #e8e8e8; }
    #search-result li a { border-bottom: 1px solid #e8e8e8; display: block; padding: 4px 5px; }
    #search-result li a:hover { background: #F9F9F9; }
    .ajax-loading { background: url(images/ajax-loader.gif) no-repeat 0 0; display: none; height: 16px; position: absolute; right: 6px; top: 9px; width: 16px; }  
    
    #sidebar .item { overflow: hidden; margin-bottom: 30px; }
    #sidebar .item h4 { font-size: 18px; padding-bottom: 5px; padding-top: 1px; font-weight: normal; border-bottom: 1px solid #e8e8e8; }
    
/* something
--------------------------- */

    #welcome { color: #6c5448; font: 17px/24px Helvetica, Arial, sans-serif; margin: 0 auto; margin-top: 20px; padding: 0px 30px; position: relative; width: 940px; }
    #welcome span { color: #303030; display: block; float: left; font-size: 33px; font-weight: bold; height: 100px; margin-left: 10px; margin-top: 23px; width: 120px; }
    #welcome_text { background: #fed48b url(images/welcome_gradient.jpg) repeat-y 0 0; border: 1px solid #caa363; padding: 31px 35px; padding-bottom: 20px; position: relative; z-index: 99; }

    .home ul li { margin: 10px 0px; }

    #sidebar label { display: block; margin-bottom: 10px; }
    
    div.live-search-results { background: #fff; height: auto; overflow: auto; padding: 0px; padding-bottom: 10px; }


    #navigation { background: #ff7c00; }
    #navigation ul { overflow: hidden; margin: 0px 40px; }
    #navigation ul li { float: left; }
    #navigation ul li { padding: 8px 20px 7px; color: #FFFFFF; display: block; font-size: 14px; }
    #navigation ul li a { padding: 8px 20px 7px; color: #FFFFFF; display: block; font-size: 14px; }
    #navigation ul li.current_page_item a, #navigation ul li.current_page_ancestor a, #navigation ul li.current_page_parent a { background: #8FD2E9; color: #FFFFFF; } 
    #navigation ul li a:hover { background: #61bfe0; color: #FFFFFF; }
    
    /* ratings */
    .post-ratings { width: 200px; float: left; }
    .post-ratings img { top: 3px; position: relative; }
    .post-ratings-text { display: none !important; }
    
    .buttons { padding-bottom: 30px; border-bottom: 1px dotted #e8e8e8; margin-bottom: 20px; margin-top: 30px; overflow: hidden; }
    .buttons a { font-size: 18px; color: #666666; padding: 20px 30px; background: #f9f9f9; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; float: left; margin: 0px 20px 0px 0px; }
    .buttons a:hover { background: #DCDCDC; }
              
/* FAQ
--------------------------- */

    .category { float: left; width: 290px; margin: 0px 20px 20px 0px; }
    .category.odd0 { clear: left; }
    .category.odd1 { margin-right: 0px; }
    .category ul { margin-bottom: 5px; }
    .category h2 a { color: #424242; }
    .category li { padding: 5px 0px 5px 25px; border-bottom: 1px dotted #e8e8e8; background: url('images/page_white_text.png') no-repeat 0px 7px; }
    .category .view { text-align: right; }
    
    .category.discussions li { background: url('images/comment.png') no-repeat 0px 8px; }
    
/* Table
--------------------------- */

    table { width: 100%; margin: 10px 0px 30px 0px; empty-cells: show; }
    table th { padding: 5px 10px; border-bottom: 1px solid #DCDCDC; border-top: 1px solid #DCDCDC; background: #f9f9f9; font-weight: normal; font-weight: bold; color: #666666; }
    table th a { color: #666666; }
    table td { padding: 5px 10px; border-bottom: 1px solid #DCDCDC; font-size: 90%; }
    table td.last, table.large th.last { }
    table th:first-child { border-left: 1px solid #DCDCDC; }
    table th:last-child { border-right: 1px solid #DCDCDC; }

/* breadcrumb
--------------------------- */

    #crumb { padding-bottom: 10px; border-bottom: 1px solid #e8e8e8; }
    #crumb li { display: inline; }
    
/* menus
--------------------------- */

    #profile-menu { background: url('images/line.gif') repeat-x left bottom; height: 31px; margin-bottom: 20px;  }
    #profile-menu li { float: left; margin: 0px 0px 0px 5px; }
    #profile-menu li a { padding: 5px 10px; border: 1px solid #e8e8e8; border-bottom: 0px; display:block; } 
    #profile-menu li.current { background: #FFFFFF; } 
    #profile-menu li.current a { color: #424242; }   

    #rss { height: 21px; width: 200px; }
    #rss span { font-size: 11px; float: left; }
    #rss img { float: left; margin-right: 5px; }

    .tags { margin-top: 20px; }

/* thread
--------------------------- */

    #thread { margin: 20px 0px; border-top: 1px dotted #e8e8e8; }
    #thread li { overflow: hidden; padding: 10px 0px 7px; border-bottom: 1px dotted #e8e8e8; }
    #thread .user { width: 60px; float: left; }
    #thread .user .avatar { width: 48px; height: 48px; padding: 1px; border: 1px solid #e8e8e8; }
    #thread .post { margin-left: 60px; }
    #thread .poststuff { font-size: 0.9em; color: #666666; }
    
    .nest { padding-left: 20px; }

/* Form
--------------------------- */

    form { overflow: hidden; }
    form p, .form div.p { overflow: hidden; margin: 10px 0px; padding-bottom: 10px; clear:both; border-bottom: 1px dotted #EAEEF1; }
    form p.last, .form div.p.last { border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px; }
    form label { float: left; width: 150px;  display: block; font-weight: bold; font-size: 90%; }
    form .field { float: left; overflow: hidden; display: block; }
    form .indent { margin-left: 150px; display: block; margin-top: 5px; color: #777777; font-size: 90%; float: left; clear: left; }
    form a.indent, .form .link.indent { font-size: 100%; color: #3697B3; }
    fieldset input.indent { font-size: 100%; color: #383838; }
    form .captcha { display: block; overflow: hidden; }

    .errors { list-style: none; margin: 0px; padding: 0px; }
    .errors li { padding: 5px 10px; margin: 0px 0px 5px 0px; border: 1px solid #DB959B; background: #F7CBCE; font-size: 90%; }
    
    .success {  padding: 5px 10px; overflow: hidden; margin-bottom: 10px; background: #EFFFD7; border: 1px solid #AFD376; font-size: 90%; }

    .form .cancel { padding-top: 1px; }

    form input[type="text"], .form input[type="password"] { width: 200px; border: 1px solid #e8e8e8; background: #FEFEFE; padding: 5px; }
    form input[type="text"]:focus { border: 1px solid #45B4DA; background: #FFFFFF; }
    form input[type="radio"] { cursor: pointer; margin-top: 3px; }
    form textarea { border: 1px solid #DCDCDC; background: #FEFEFE; padding: 3px; }
    form textarea:focus { border: 1px solid #45B4DA; background: #FFFFFF; }
    
    .btn { display: inline-block; overflow: visible; border: 1px solid #BBBBBB; background: url('images/side_button.gif') repeat-x 0px 0px; margin-right: 10px; padding: 2.5px 10px; color: #666666; cursor: pointer; -moz-border-radius: 2.5px; -webkit-border-radius: 2.5px; font-size: 12px; line-height: 15px !important; font-family: Helvetica,Arial,Verdana; }
    .btn:hover, .side .btn:focus, .side .btn:active { background-position: 0px -30px; color: #424242; }
    .btn.disable { color: #999999; cursor: auto; background: #CCCCCC; }
    .btn:hover.disable { background-position: 0px 0px; }
    .btn.no-margin { margin: 0px; }
    
    a:hover.btn { text-decoration: none; } 
    
/* Highlighter
--------------------------- */
    
    .dp-highlighter { font-family: "Consolas","Courier New",Courier,mono; font-size: 12px; margin: 18px 0; overflow: auto; width: 100%; border: 1px solid #e8e8e8; }
    .dp-highlighter .bar { height: 20px; }
    .dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar { padding-left: 0; }
    .dp-highlighter ol { background-color: #FFFFFF; color: #5C5C5C; list-style-image: none; list-style-position: outside; list-style-type: decimal-leading-zero; margin: 0 !important; padding: 0; }
    .dp-highlighter.nogutter ol { list-style-type: none !important; margin-left: 0; }
    .dp-highlighter ol li, .dp-highlighter .columns div { background-color: #F8F8F8; line-height: 14px; padding: 1px 10px; margin: 0px !important; }
    .dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div { border: 0 none; }
    .dp-highlighter .columns { color: gray; overflow: hidden; width: 100%; }
    .dp-highlighter .columns div { padding-bottom: 5px; }
    .dp-highlighter ol li.alt { background-color: #FFFFFF; }
    .dp-highlighter ol li span { color: Black; }
    .dp-highlighter.collapsed ol { margin: 0; }
    .dp-highlighter.collapsed ol li { display: none; }
    .dp-highlighter.printing { border: medium none; }
    .dp-highlighter.printing .tools { display: none !important; }
    .dp-highlighter.printing li { display: list-item !important; }
    .dp-highlighter .tools { background-color: #F8F8F8; color: silver; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 9px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; padding: 3px 8px 10px 10px; x-system-font: none; }
    .dp-highlighter.nogutter .tools { border-left: 0 none; }
    .dp-highlighter.collapsed .tools { border-bottom: 0 none; }
    .dp-highlighter .tools a { color: #A0A0A0; font-size: 9px; margin-right: 10px; text-decoration: none; }
    .dp-highlighter .tools a:hover { color: red; text-decoration: underline; }
    .dp-about { background-color: #FFFFFF; margin: 0; padding: 0; }
    .dp-about table { font-family: Tahoma,Verdana,Arial,sans-serif !important; font-size: 11px; height: 100%; width: 100%; }
    .dp-about td { padding: 10px; vertical-align: top; }
    .dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
    .dp-about .title { color: red; font-weight: bold; }
    .dp-about .para { margin: 0 0 4px; }
    .dp-about .footer { background-color: #ECEADB; border-top: 1px solid #FFFFFF; text-align: right; }
    .dp-about .close { background-color: #ECEADB; font-family: Tahoma,Verdana,Arial,sans-serif !important; font-size: 11px; height: 22px; width: 60px; }
    .dp-highlighter .comment, .dp-highlighter .comments { color: #008200; }
    .dp-highlighter .string { color: blue; }
    .dp-highlighter .keyword { color: #006699; font-weight: bold; }
    .dp-highlighter .preprocessor { color: gray; }
    
/* Content
--------------------------- */
    
    #content { float: left; width: 600px; }     

    #content .post_wrap { margin-bottom: 10px; position: relative;}
    #content .home h2 { font-size: 15px; margin-bottom: 0px; }
    #content .post_wrap h2 a { color: #424242; font-size: 18px; text-decoration: underline; }
    #content .post_wrap h2 a:hover { color: #666666;}
    #content .post_wrap .post { background: #f9f9f9; padding: 15px 20px; border-bottom: 1px solid #e8e8e8; overflow: hidden; }
    #content .post_wrap .page { background: #f9f9f9; padding: 15px 20px; }
    #content .home .post { background: #fff; border-bottom: 1px solid #e8e8e8; padding: 13px 0px; padding-right: 40px; }
    #content #faq { background: #fff; padding: 0px 0px; }
    
    
    .my_faqs { margin-top: 30px; }
    #content #faq li a.question { background: url(images/bullet_toggle_plus.png) no-repeat 3px 7px; color: #424242; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding: 5px 20px; position: relative; }
    #content #faq li a.question:hover { text-decoration: underline; }
    #content #faq li a.down { background: url(images/bullet_toggle_minus.png) no-repeat 3px 7px; }
    #content #faq li li { background: none; border-bottom: 1px solid #e8e8e8; margin-bottom: 15px; padding: 20px; padding-top: 0px; }
    #content #faq li p { padding-bottom: 0px; }
    #content .answer { display: none; }
    #page_wrap .faqs_page .my_faqs { margin-top: 0px; }
    .single h1 { color: #424242; font-size: 22px; line-height: 25px; margin: 15px 0; }
    .single h2 { color: #424242; font-size: 18px; margin: 10px 0; font-weight: normal; }
    .single li { position: relative; }
    #content .single ul, #content .single ol { margin-bottom: 15px; }
    #content .single li>ul, #content .single li>ol { margin-bottom: 0px; }
    #content .single ul li { margin-bottom: 6px; margin-left: 27px; padding-left: 13px; }
    #content .single ol li { margin-bottom: 6px; margin-left: 40px; }
    #content .single ul li { background: url(li.gif) no-repeat 0 10px; }
    #content .single ol li { list-style: decimal; }
    #content #sections { float: right; margin-bottom: 0px; margin-left: 20px; }
    #content #sections ul { background: #f1f1f1 url(images/sections.gif) no-repeat 20px 15px; border: 1px solid #d3d3d3; float: left; padding: 30px 40px 15px 20px; }
    #content #sections ul li { background: none; list-style: none; margin: 0px; padding: 0px; }
    #content #sections a { color: #4d4d4d; }
    #content #sections a:hover { color: #000; }



.success { background: #e2fad6 url(images/accept.png) no-repeat 19px 19px; border: 1px solid #91db6c; color: #404040; margin-bottom: 20px; padding: 15px; padding-left: 50px; }
.error { background: #fae1d6 url(images/exclamation.png) no-repeat 19px 19px; border: 1px solid #f59b73; color: #404040; margin-bottom: 20px; padding: 15px; padding-left: 50px; }
.help { background: #eaf0f6 url(images/help.png) no-repeat 19px 19px; border: 1px solid #bcc6d0; color: #404040; margin-bottom: 20px; padding: 15px; padding-left: 50px; }
.tip { background: #fafad6 url(images/wand.png) no-repeat 19px 19px; border: 1px solid #f6d87d; color: #404040; margin-bottom: 20px; padding: 15px; padding-left: 50px; }
.rating_wrap { background: #F9F9F9; border: 1px solid #e8e8e8; color: #404040; margin: 20px 0px 0px; padding: 7px 10px 10px 10px; overflow: hidden; }
pre { background: #efefef; border: 1px solid #b6b6b6; color: #333d48; color: #404040; font-family: Monaco, Courier, sans-serif; font-size: 10px; line-height: 24px; margin-bottom: 20px; padding: 15px; padding-bottom: 10px; padding-left: 50px; }
pre { white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap; white-space: pre-wrap; white-space: -pre-wrap; word-wrap: break-word; }
.wp-caption { background-color: #efefef; border: 1px solid #b6b6b6; margin-bottom: 15px; padding-bottom: 11px; padding-left: 11px; padding-right: 11px; padding-top: 15px; text-align: center; }
.wp-caption img { border: 1px solid #b6b6b6; margin: auto; }
.wp-caption-text { color: #404040; font-size: 11px; font-style: italic; margin: 0px; margin-top: 5px; padding: 0px; text-align: center; }
.improve { float: right; }
.improve span { background: url(images/contact.png) no-repeat 0 3px; padding-left: 22px; }
.aligncenter { display: block; margin: 0 auto; }
.alignright { float: right; margin-left: 20px; }
.alignleft { float: left; margin-right: 20px; }
.button a:link, .button a:visited { border: 1px solid #d0d0d0; moz-border-radius: 3px; padding: 3px 7px; webkit-border-radius: 3px; }
.button a:hover { background: #f1f1f1; text-decoration: none; }
.button a:active { text-decoration: none; }
.wp-pagenavi { border-bottom: 1px solid #d0d0d0; clear: both; font-size: 11px; font-weight: normal; padding-bottom: 10px; text-align: right; text-transform: uppercase; }
.wp-pagenavi a,
.wp-pagenavi .current { border: 1px solid #d0d0d0; margin-left: 3px; moz-border-radius: 3px; padding: 3px 7px; webkit-border-radius: 3px; }
.wp-pagenavi a:hover,
.wp-pagenavi .current { background: #f1f1f1; }
.wp-pagenavi .pages { float: left; }
.faq-pagenavi { font-size: 11px; position: absolute; right: 0px; text-transform: uppercase; top: -34px; width: 210px; }
.faq-pagenavi .button { float: right; margin-left: 10px; }
.faq-pagenavi .pageed { float: right; }